<h1 class="title">{{site.youtube_title}}</h1>
<p class="subtitle">{{site.youtube_description}}</p>

<div class="video-container">
  <iframe width="460" height="315" src="https://www.youtube.com/embed/1zCulJpKUqA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <iframe width="460" height="315" src="https://www.youtube.com/embed/25bFsPV6IGw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <iframe width="460" height="315" src="https://www.youtube.com/embed/6kfR4DDCMpg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  <iframe width="460" height="315" src="https://www.youtube.com/embed/QH_9CBKoDTA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
